@use "../../variables";

.nav {
  position: fixed;
  top: 0;
  height: variables.$navbar-height;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  box-shadow: 0 2px #00000010;

  h1 {
    color: variables.$primary-color;
  }
}