@use "../../variables";

.player {
  position: fixed;
  bottom: 0;
  // background-color: #0000003d;
  width: 100vw;
  // height: calc(100vh - variables.$navbar-height);
}

.playerContainer {
  width: 100%;
  // background-color: rgb(0, 0, 0);
  // height: calc(100vh - variables.$navbar-height - variables.$player-controller-height);
  // height: 10rem;
  position: fixed;
  bottom: 0;
}