* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: #f7f7f7;
}

:root {
  color-scheme: light dark;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

a {
  text-decoration: inherit;
}

.app-region-drag {
  -webkit-app-region: drag;
  app-region: drag;
}

.app-region-no-drag {
  -webkit-app-region: no-drag;
  app-region: no-drag;
}

.pt-titlebar-area-height {
  padding-top: 0 !important;
}

@media (display-mode: window-controls-overlay) {
  .pt-titlebar-area-height {
    padding-top: env(titlebar-area-height, 32) !important;
  }
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #8d24aa99;
  border-radius: 16px;
  border: 4px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #8e24aa;
  border: 4px solid transparent;
  background-clip: content-box;
}

.show-scrollbar::-webkit-scrollbar-thumb {
  visibility: visible !important;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #3b3b3b;
  }

  ::-webkit-scrollbar-thumb {
    background: #a15db4;
    border-radius: 16px;
    border: 4px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #df7ef9;
    border: 4px solid transparent;
    background-clip: content-box;
  }
}